@media only screen and (max-width: 1024px) {
    .plan-core {
        gap: 10px;
        margin: 10px 5% 0 5%;
    }
    .plan-footer {
        margin-top: 15px;
    }
    .plan-wrapper {
        position: relative;
        top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .plan-card, .middle-plan-card {
        min-width: 320px;
        max-width: 360px;
        width: 100%;
        min-height: 425px;
    }
    .middle-plan-card {
        transform: scale(1.05);
        margin: 10px 0;
    }
    .plan-wrapper {
        justify-content: unset;
        flex-direction: column;
        height: unset;
    }
    .title-plans {
        height: unset;
        padding: 5% 0;
    }
    .title-plans > p:nth-child(1) {
        font-size: 2em;
    }
    .title-plans > p:nth-child(2) {
        font-size: 1.25em;
        width: unset;
    }
}

@media only screen and (max-width: 480px) {
    body {
        background: var(--blue);
    }
}