:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(0deg, var(--page-background) 50%, var(--blue) 50%);
  background-attachment: fixed;
}

.title-plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.plan-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  height: 50vh;
}

.plan-card {
  width: 360px;
  height: 425px;
  background-color: var(--page-background);
  border-radius: 10px;
  box-shadow: 1px 2px 1px 2px rgba(66, 71, 80, 0.075);
  overflow: hidden;
}

.middle-plan-card {
  transform: scale(1.05);
  margin: 0 10px;
}

.plan-header {
  width: calc(100% + 2px);
  height: 75px;
  margin: -1px 0 0 -1px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  padding: 0 10%;
  font-size: 1.5em;
  font-weight: 600;
}

.plan-middle-header {
  background-color: var(--yellow);
  justify-content: space-between;
  color: var(--blue);
}

.popular-button {
  background-color: var(--blue);
  border-radius: 999px;
  padding: 8px 22px;
  color: white;
  font-size: .75rem;
}

.price-start {
  font-size: 3em;
  font-weight: 700;
  color: #1b2631;
}

.price-cents {
  font-size: 2em;
  font-weight: 700;
  color: #1b2631;
}

.month-pay {
  font-size: 1.6em;
  font-weight: 400;
  color: var(--gray);
  white-space: pre;
}

.desc {
  font-size: 1.15em;
  font-weight: 400;
  color: var(--gray);
}

.plan-card > div > hr {
  width: 85%;
  border: 1px solid #4f4f5f1c;
  margin: 15px;
}

ul.check {
  list-style: none;
}

ul.check > li::before {
  content: "";
  height: 1.5em;
  width: 1.5em;
  display: block;
  float: left;
  margin-left: -1.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("./assets/check.svg");
}

ul.check > li {
  color: var(--gray);
  font-weight: 600;
  font-size: 1.1em;
  padding: 10px;
}

.core {
  color: #1b2631;
}

